@page "/profile"
@inherits LayoutComponentBase
@using System.ComponentModel.DataAnnotations;
@layout AuthLayout

<PageTitle>My Profile - CoProject</PageTitle>

<style>
    input[type='text'] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid gray;
    }

    button[type='submit'] {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        display: block;
        background-color: #0b4f6c;
        color: white;
        font-size: 20px;
        border: #707070;
        border-radius: 10px;
        height: 50px;
        width: 90%;
    }
</style>


<div class="container">
    <div class="center">
        <h1>My Profile</h1>
        <hr />
        <h2>Update your information</h2>
    </div>

    <EditForm Model="@formModel" OnValidSubmit="@OnSubmit">
        <label for="name" class="form-header"> Your name <span class="required">*</span></label>
        <InputText type="text" id="name" name="name" placeholder="Enter your new name here"
            @bind-Value="formModel.Name" />

        <label for="email" class="form-header">Your email <span class="required">*</span></label>
        <InputText type="text" id="email" placeholder="Enter your new e-mail address here"
            @bind-Value="formModel.Email" />

        <button type="submit">Update profile</button>
    </EditForm>
</div>

@code {

    private MyProfileForm formModel = new();
    public class MyProfileForm
    {

        [Required]
        [StringLength(100, ErrorMessage = "Name is too long")]
        public string Name { get; set; }


        [StringLength(100, ErrorMessage = "Name is too long")]
        [EmailAddress]
        [Required]
        public string Email { get; set; }
    }

    private async void OnSubmit()
    {
        Console.WriteLine("Update profile : " + formModel.Name);
    }

}