@inherits LayoutComponentBase
@namespace Components.MainLayout
@inject NavigationManager Navigation
@using Components.NavBar;

<div class="navbar">
    <NavBar />
</div>

<div class="content">
    @Body
</div>