.content {
  width: 95%;
  padding-top: 91px;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  margin-top: 5px;
  padding: 20px;
  background-color: #c14c36;
  color: white;
  margin-bottom: 15px;
  border-radius: 10px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}


.closebtn:hover {
  color: black;
} 