
<div class="loadingContainer">
    <div class="loadingInnerContainer">
        <div class="image bounce7">
            <img src="https://via.placeholder.com/150" />
        </div>
        <p>Loading...</p>
    </div>
</div>