
<div class="loadingContainer">
    <div class="loadingInnerContainer">
        <div class="image bounce7">
            <img src="/images/logo.png" />
        </div>
        <p>Loading...</p>
    </div>
</div>