@page "/CreateProject"
@inherits LayoutComponentBase

<style>

</style>

<div class="container">
    <div class="center">
        <h1 class="header">@ThisOrThat("Create Project", "Edit Project")</h1>
        <hr/>
        <h2 class="header">@ThisOrThat("Fill in the information below to create a new project.", "Edit the project by editing the inputs below")</h2>
    </div>

    <form>
        <label for="name" class="form-header">Project Name <span class="required">*</span></label><br/>
        <input type="text" id="name" name="name" placeholder="Project name"><br/>
        
        <label for="description" class="form-header">Project Description <span class="required">*</span></label><br/>
        <textarea id="description" placeholder="Write the description of the project"></textarea><br/>
        
        <label for="min" class="form-header">Students</label><br/>
        <div class="min-max-container">
            <input type="text" id="min" name="name" placeholder="Minimum">
            <div class="line"></div>
            <input type="text" id="max" name="name" placeholder="Maximum">
        </div>
        
        <label for="tags" class="form-header">Project Tags</label><br/>
        <input type="text" id="tags" name="name" placeholder="Write the tags seperated by comma"><br/>
        
        <h3>Project State</h3>
        <div class="switch-field center">
            <input type="radio" id="radio-three" name="switch-two" value="yes" checked/>
            <label for="radio-three">OPEN</label>
            <input type="radio" id="radio-four" name="switch-two" value="maybe"/>
            <label for="radio-four">CLOSED</label>
            <input type="radio" id="radio-five" name="switch-two" value="no"/>
            <label for="radio-five">HIDDEN</label>
        </div>
        
        <input type="submit" value=@ThisOrThat("Create project", "Save changes") name="submit">
    </form>
</div>

@code {

    private bool editing = true;

    private string ThisOrThat(string this_, string that)
    {
        return editing ? this_ : that;
    }
}