.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .logo {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.logo img {
  width: 100%;
}

.login {
  width: 100%;
}
.login h1 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
  font-weight: bold;
}

.login p {
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
}

.login a {
  text-decoration: none;
}

.login:hover {
  cursor: pointer;
}

.login button {
  width: 80%;
  margin-top: 25px;
  margin-left: auto;
  display: block;
  margin-right: auto;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  background-color: #0b4f6c;
  color: white;
  font-size: 18px;
}
