@page "/navigation"

<div class="navcontainer">
    <div class="navitem">
        <img src="Profile.png"/>
        <p><a href="#myprojects">My Projects</a>
  </p>
    </div>
  <p><a href="#projects">Projects</a></p>
  <p><a href="#profile">Profile</a></p>
</div>

