@namespace Components.NavBar

<div class="navcontainer">
  <div class="navitem">
    <a href="/myprojects">
      <div class="item">
        <img src="/images/myprojects.svg" />
        <p>My Projects</p>
      </div>
    </a>
  </div>
  <div class="navitem">
    <a href="/projects">
      <div class="item">
        <img src="/images/projects.svg" />
        <p>Projects</p>
      </div>
    </a>
  </div>
  <div class="navitem">
    <a href="/myprofile">
      <div class="item">
        <img class="yeet" src="/images/profile.svg" />
        <p>Profile</p>
      </div>
    </a>
  </div>
</div>
