.navcontainer {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #0b4f6c;
  color: white;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 91px;
  z-index: 10000;
}

.navitem .item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navitem img {
  width: 35px;
  height: 35px;
}
.navitem:hover p {
  color: #01baef;
}

.navitem:hover img {
  filter: invert(50%) sepia(28%) saturate(3673%) hue-rotate(158deg) brightness(103%) contrast(106%);
}

.navitem a {
  margin: 0px;
  padding: 0px;
  color: white;
  text-decoration: none;
}

.navitem p {
  margin-top: 10px;
}
