@page "/project/{id}"
@inject NavigationManager NavManager
@layout AuthLayout

<PageTitle>View Project - CoProject</PageTitle>

<h1 id="ProjectName">Project name</h1>
<h2 id="registered">Registered: 78/80</h2>

<hr />

<div class="supervisorContainer">
    <img class="imageOfSupervisor" alt="PICTURE OF SUPERVISOR" src="https://via.placeholder.com/150">
    <p class="supervisorName">Project creator</p>
    <p class="createdBy">Created on 05/11/2021</p>
</div>

<p class="projectDescription">
    Proin ullamcorper nisl sit amet sem venenatis, at iaculis enim accumsan.
    In sollicitudin augue lacus, ac blandit nisi iaculis eget.
</p>

<div class="tags">
    <p class="tagName">python</p>
    <p class="tagName">python</p>
    <p class="tagName">python</p>
    <p class="tagName">python</p>
    <p class="tagName">python</p>
</div>

<button id="editProject"><a href="/editproject/@id">Edit project</a></button>

<button id="delete">Delete</button>
<hr />

<p id="studentsRegistered">Students registered</p>

<div id="bagOfStudents">
    <div class="oneStudent">
        <div class="studentLeft">
            <img class="studentImg" src="https://via.placeholder.com/150?text=student" alt="Image Of Student" />
        </div>
        <div class="studentRight">
            <p class="student">The Pendler Kid</p>
            <p class="email">DenoG@itu.dk <img src="/images/copyIcon.svg" class="material-icons" /></p>
        </div>
    </div>
    <div class="oneStudent">
        <div class="studentLeft">
            <img class="studentImg" src="https://via.placeholder.com/150?text=student" alt="Image Of Student" />
        </div>
        <div class="studentRight">
            <p class="student">The Pendler Kid</p>
            <p class="email">DenoG@itu.dk <img src="/images/copyIcon.svg" class="material-icons" /></p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? id { get; set; }
    protected override void OnInitialized()
    {
        if (id == null)
        {
            NavManager.NavigateTo("/projects");
        }
    }
}
