@page "/userlogin"
@inject NavigationManager _navManager
@layout AuthLayout
@inject HttpClient _client
@using CoProject.Shared;

<PageTitle>Login - CoProject</PageTitle>
<h1>Logging you in...</h1>

@code {
    protected override async void OnInitialized()
    {

        var response = await _client.PostAsJsonAsync("/api/user/signup", "");
        Console.WriteLine($"SIGNUP USER STATUS: {response.StatusCode}");

        _navManager.NavigateTo("/projects");
    }
}