<h1>Projects</h1>
<h2>Below you can see a list of available projects.</h2>

<div class="search">
    <input id="search-bar" placeholder="Search...">
</div>

<div class="projects">
    <ProjectCard></ProjectCard>
    <ProjectCard></ProjectCard>
    <ProjectCard></ProjectCard>

    @* @foreach (var project in projects)
    {
        <ProjectCard>
            Project = project
        </ProjectCard>
    } *@
</div>