@using CoProject/FrontEnd/ProjectDetailsDTO

<div class="project">
    <h1 class="project-name">@Project.Name</h1>
    <p class="project-description">@Project.Description</p>
    <img class="supv-img" src="GetSupervisorImgSrc"/>
    <p class="supv-text">Made by @GetSupervisorName</p>
    <div class="tags">@foreach (var tag in Project.Tags)
    {   <div class="tag">@tag</div> }
    </div>

</div>

@code {

    [Parameter]
    public CoProject.FrontEnd.ProjectCreateDTO Project { get; set;} =
        new()
        {
            Name = "Lorem ipsum",
            Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
            SupervisorId = -1,
            Tags = new List<string>(),
        };
    
    public string GetSupervisorImgSrc() {
        //return userrepo.Read(Project.SupervisorId).Img;
        return "";
    }

    public string GetSupervisorName() {
        //return userrepo.Read(Project.SupervisorId).Name;
        return "Mr. Supervisor";
    }
}