.project {
    border-style: solid;
    border-color: blue;
    border-radius: 16px;
    border-width: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    width: 28%;
    margin: 20px 20px 20px 0px;
}

h1 {
    font-size: x-large;
}

.project-description {
    font-size: small;
}

.supv {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.supv-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 1%;
}

.supv-name {
    font-size: smaller;
}

.tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tag {
    background-color: gray;
    border-style: solid;
    border-color: darkslategrey;
    border-radius: 16px;
    border-width: 1px;
    padding: 4px;
    font-size: small;
}


@media (max-width: 1008px) {
    .project {width: 42%;}
}

@media (max-width: 640px) {
    .project {width: 90%;}
}